.box {
    min-height: 30px;
    background-color: #056cfa;
    border: 1px solid white;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.nasted {
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
    display:flex;
    justify-content: center;
    align-items: center;
} 

.w100 {
    width: 100%;
}

.p10 {
    padding: 10px;
}

.bblue {
    border: 1px solid #056cfa !important;
}

.white {
    background-color: white !important; 
}